<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @page {
            size: A4;
            margin: 1cm;
        }
        .main{
            border-bottom-color: #000;
            border-left-color: #000;
            border-right-color: #000;
            border-top-color: #000;

            border-bottom-style : groove;
            border-bottom-width : 30px;
        }
    </style>
    <title>Document</title>
</head>
<body>
        <div class="main">
                <div>
                        <h1>TEST</h1>
                </div>
                      
                <div>
                        <h1>TEST</h1>
                </div>
                        
                <div>
                    <h1>TEST</h1>
                </div>

                <div>
                    <h1>TEST</h1>
                </div>

                <div>
                    <h1>TEST</h1>
                </div>

                <div>
                    <h1>TEST</h1>
                </div>
        </div>
</body>
</html>